@import url(themes.css);


button{
    font-family: 'Martian Mono', monospace;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}

.fixed_button{
    height: 80px;
}

/* Кнопка создания поста */

#newPostButton{
    background-color: transparent;
    opacity: .4;
    transition: all .6s;
}

#newPostButton:hover{
    opacity: 1;
}

/* Кнопка смены темы */

#toggleThemeButton{
    background-color: transparent;
    opacity: .4;
    transition: all .6s;  
}

#toggleThemeButton:hover{
    opacity: 1;
}

.iconButton{
    width: 80px;
}

#dayIcon{
    display: var(--day-icon-visibility);
}

#nightIcon{
    display: var(--night-icon-visibility);
}

/* Кнопка важных постов */

.importanceButton{
    background-color: transparent;
}

#important{
    fill: var(--accent-color);
    stroke: var(--accent-color);
}

#notImportant{
    fill: none;
    stroke: var(--accent-color);
}

/* Кнопка удаления поста */

.deleteButton{
    fill: var(--accent-color);
    background-color: transparent;
}

/* Кнопка редактирования поста */

.editButton{
    fill: none;
    stroke: var(--accent-color);
    background-color: transparent;
}

/* Стили для кнопки сохранения */
#savePostBtn {
    background-color: var(--accent-color);
    color: var(--bg-color);
    padding: 10px 15px;
    width: 30%;
    border-radius: 4px;
    align-self: center;
}

.confirm-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#confirmDeleteBtn,
#cancelDeleteBtn {
    padding: 10px 15px;
    width: 30%;
    border-radius: 4px;
}

#confirmDeleteBtn {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

#cancelDeleteBtn {
    background-color: #bdb0c7;
}


